* {
    margin: 0;
    padding: 0;
  }
  
  header {
    width: 100%;
    height: auto;
    position: relative;
  }
  
  video {
    width: 100%;
  }
  
  h1 {
    text-align: center;
    font-size: 80px;
    font-family: "IM Fell English SC", serif;
    color: whitesmoke;
    background-color: black;
  }
  
  .pres {
    padding-bottom: 5px;
    width: 100%;
    background-image: url(../remake/src/rosa\ suc.jpg);
  }
  
  .pres p {
    background-image: url(../src/marmol\ suc.jpg);
    color: #261616;
    text-align: center;
    font-family: "Roboto Slab", serif;
    height: 60px;
    padding-top: 40px;
    font-size: 20px;
  }
  
  .menu ul {
    font-family: "Roboto Slab", serif;
    color: #d5ffd5;
    background-image: url(../proyecto/src/marmol\ negro.jpg);
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-top: 50px;
  }
  
  a {
    color: grey;
  }
  
  footer ul {
    text-align: center;
    color: #c7b0bc;
    list-style-position: inside;
    background-image: url(../proyecto/src/marmol\ negro.jpg);
    display: flex;
    justify-content: space-between;
    font-family: "Roboto Slab", serif;
    height: 100px;
    padding-top: 30px;
  }
  
  .carta {
    text-align: center;
    background-image: url(../remake/src/principal.jpg);
    width: 100%;
    color: black;
    font-family: "Roboto Slab", serif;
    padding-bottom: 30px;
    padding-top: 30px;
    width: 100%;
  }
  
  .carta .p {
    color: black;
    font-family: "Roboto Slab", serif;
  }
  
  .carta h3 {
    text-decoration: underline;
    font-size: 20px;
  }
  
  .carta img:hover {
    transform: scale(1.1);
  }
  .vino {
    text-align: center;
    list-style-position: inside;
    background-image: url(../proyecto/src/nurvo\ fondo.jpg);
    font-family: "Fjalla One", sans-serif;
    text-decoration: underline;
    font-size: 30px;
  }
  
  .resrv{
    text-align: center;
    
    }
    
    .volver-inicio{
         font-family: 'Roboto Slab', serif;
    }
    
    .cont-sucursal{
    background-image: url(../proyecto/src/pexels-ray-piedra-1565982.jpg);
    height: 500px;
    font-family: 'Fjalla One', sans-serif;
    display: flex;
    justify-content: center;
    
    }
    
    .cont-sucursal h2{
         padding-top: 200px;
         font-size: 80px;
         color: rgba(255, 255, 255, 0.548);
    }
     
    .nexos{
    font-size: 30px;
    color: rgba(209, 157, 89, 0.596);
    
    }
    
    
    .suc {
         display: grid;
          grid-template-rows: 1fr 1fr 1fr;
          grid-template-columns: 1fr;
          border: black 2px solid;
          padding-left: 50px;
      font-size: 20px;
     padding-top: 100px;
     }
    
    
    .suc h2{
    
         font-family: 'Fjalla One', sans-serif;
         text-decoration: underline;
         text-align: center;
         color: antiquewhite;
    }
    
    
    .suc img{
       position: relative;
       display: flex;
       padding-left: 250px;
    
    
    }
    
    .suc{
      background-image: url(../remake/src/pexels-alesia-kozik-6629941.jpg);
    }
    
    .suc p{
         text-align: center;
         color: antiquewhite;
    }
    
    .cont-vinos{
         background-image: url(../remake/src/pexels-bruno-cantuária-774455.jpg); 
       
         height: 500px;
         font-family: 'Fjalla One', sans-serif;
         display: flex;
         justify-content: center;
    }
    
    .cont-vinos h2{
         padding-top: 200px;
         font-size: 80px;
         color: rgba(255, 255, 255, 0.548);
    }
    
    .cont-vinos ul{
         position: absolute;
         justify-content: right -0; top: -0;
         font-family: 'Fjalla One', sans-serif;
         color: rgba(255, 255, 255, 0.548);
    }
    
    
    .fondo-vino{
           background-image: url(../proyecto/src/fondo-vinos.jpg);
           text-align: center;
      
    }
    
    .tintos  p{
       font-size: 20px;
    }
    
    .blancos p {
         font-size: 20px;
    }
    
    .naranjos p{
        text-align: center;
    }
     
    .cont-tintos img{
         padding-bottom: 1000px;
    }

   .main-reserv{
    
      background-image: url(../remake/src/pexels-bruno-cantuária-774455.jpg); 
    
      height: 500px;
      font-family: 'Fjalla One', sans-serif;
      display: flex;
      justify-content: center;
 }
   
   
    #form{
      box-sizing: border-box;
      background: darkslategrey;
      background-image: url(../imagenes/ciudadViena.jpg);
      background-size: cover;
  }
  
  .lugar{
      text-align: center;
      font-family: 'Monserrat';
      background-color: #24303c;
      padding: 10px;
      margin-top: 10px;
      color: #1f53c5;
  }
  
  .caja{
          width: 400px;
          background: #24303c;
          padding: 10px;
          margin: auto;
          margin-top: 50px;
          border-radius: 4px;
          font-family: 'Monserrat';
          color: white;
          box-shadow: 7px 13px 37px #000;
        }
  
        .caja p {
          height: 40px;
          text-align: center;
          font-size: 18px;
          color: white;
        }
  
        .controls {
            margin-top: 10px;
          width: 90%;
          background: #24303c;
          padding: 10px;
          border-radius: 4px;
          margin-bottom: 16px;
          border: 1px solid #1f53c5;
          font-family: 'Monserrat';
          font-size: 18px;
          color: white;
        }
  
        .caja a {
          color: white;
          text-decoration: none;
        }
      
        .caja a:hover {
          color: white;
          text-decoration: underline;
        }
      
        .caja .button {
          width: 90%;
          background: #1f53c5;
          border: none;
          padding: 10px;
          color: white;
          margin: 10px;
          font-size: 16px;
        }
    
        option{
        margin-top: 25px;
          background: #24303c;
          font-family: 'Monserrat';
          font-size: 18px;
          color: white;
      }
  
  label{
      font-family: 'Monserrat';
      height: 40px;
      text-align: center;
      font-size: 18px;
  }